<%- include("./layout/header") %>
<main>
    <ul>
        <% blogs.forEach(blog => { %>
            
            <li>
                <div class="postContainer">
                    <a href=" /blogs/<%=blog._id%>"> <h2><%= blog.title %></h2></a>
                <p><%= blog.post_text %></p>
            </div>
            <div class="postFooter">
            <button class="likes patchButton" id="<%=blog._id%>" value="<%= blog.likes %>"><%= blog.likes %> ♥</button>
            <p class="dateCreated"><%= blog.date_created %></p>
            <p class="category"><%= blog.category %></p></div>
            </li>
        <% }) %>
    </ul>
    <button class="new-post-button" onclick="location.href='/pages/newBlogPost.html'">+</button>
    
</main>
<%- include("./layout/footer") %>